.page {
  min-width: 1100px;
  max-width: 1600px;
  font-family: "Inter", arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  background-color: #fff;
  background-image: url(../images/background_header.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  position: relative;
}
.nav {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.nav__logo {
  height: 39px;
  width: 105px;
  margin-left: 30px;
}
.nav__links {
  display: flex;
  list-style-type: none;
  column-gap: 20px;
  border: solid #4d24b4;
  margin-right: 80px;
}
.nav__link {
}
.header__title {
  max-width: 709px;
  border: solid black;
  margin-top: 183px;
  margin-left: 80px;
  display: inline-block;
  white-space: nowrap;
}

.header__span-accent {
  color: #2f80ed;
}
.header__description {
  max-width: 683px;
  margin-top: 28px;
  border: solid rgb(194, 35, 35);
  margin-left: 80px;
}
.header__image {
  max-width: 568px;
  max-height: 646px;
  position: absolute;
  top: 128px;
  right: 5px;
}
.header__footer {
  color: #6f6f6f;
  justify-content: space-between;
  list-style-type: none;
  border: solid black;
  margin-bottom: 40px;
  flex-direction: column;
  display: flex;
}
.header__paragraph {
  position: relative;
  left: 200px;
  color: #6f6f6f;
}
.recipies {
}

.reservation {
}

.footer {
}
